/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap-custom
 *= require_tree .
 *= require_self
 */

.social-button {
  list-style-type: none;
  margin: 0 0 10px;
  padding: 0;
  *zoom: 1;
  li {
    float: left;
    margin: 0 0 0 5px;
    padding: 0;
    div {display: inline;}
  }
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {clear: both;}
  iframe {margin: 0 !important;}
}

header {
  text-align: center;
  background: image-url("/assets/logo.png") 15px 15px no-repeat;
  background-size: 104px 64px;
}
footer {
  font-size: 90%;
  color: #999;
  margin-top: 40px;
  border-top: 1px solid #eee;
  padding-top: 20px;
  padding-bottom: 40px;
  #author li {display: inline-block;}
}
